# Aggregate Summary of Statistics and Make a Baseline Table

This notebook aggregates summary of statistics of all infection-related hospital admission data and processes them to make an aggregated baseline table.

In [25]:
import pandas as pd
import numpy as np

## 0- functions and read data

In [26]:
summary_table_lrti_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_lrti/summary_table_lrti_no_abs_incdt.csv')
summary_table_lrti_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_lrti/summary_table_lrti_abs_incdt.csv')
summary_table_lrti_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_lrti/summary_table_lrti_no_abs_prevl.csv')
summary_table_lrti_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_lrti/summary_table_lrti_abs_prevl.csv')
# summary_table_urti_combined_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_urti_combined/summary_table_urti_combined_no_abs_incdt.csv')
# summary_table_urti_combined_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_urti_combined/summary_table_urti_combined_abs_incdt.csv')
# summary_table_urti_combined_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_urti_combined/summary_table_urti_combined_no_abs_prevl.csv')
# summary_table_urti_combined_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_urti_combined/summary_table_urti_combined_abs_prevl.csv')
summary_table_uti_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_uti/summary_table_uti_no_abs_incdt.csv')
summary_table_uti_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_uti/summary_table_uti_abs_incdt.csv')
summary_table_uti_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_uti/summary_table_uti_no_abs_prevl.csv')
summary_table_uti_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_uti/summary_table_uti_abs_prevl.csv')
summary_table_sinusitis_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_sinusitis/summary_table_sinusitis_no_abs_incdt.csv')
summary_table_sinusitis_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_sinusitis/summary_table_sinusitis_abs_incdt.csv')
summary_table_sinusitis_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_sinusitis/summary_table_sinusitis_no_abs_prevl.csv')
summary_table_sinusitis_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_sinusitis/summary_table_sinusitis_abs_prevl.csv')
summary_table_ot_externa_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_ot_externa/summary_table_ot_externa_no_abs_incdt.csv')
summary_table_ot_externa_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_ot_externa/summary_table_ot_externa_abs_incdt.csv')
summary_table_ot_externa_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_ot_externa/summary_table_ot_externa_no_abs_prevl.csv')
summary_table_ot_externa_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_ot_externa/summary_table_ot_externa_abs_prevl.csv')
summary_table_otmedia_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_otmedia/summary_table_otmedia_no_abs_incdt.csv')
summary_table_otmedia_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_otmedia/summary_table_otmedia_abs_incdt.csv')
summary_table_otmedia_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_otmedia/summary_table_otmedia_no_abs_prevl.csv')
summary_table_otmedia_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_otmedia/summary_table_otmedia_abs_prevl.csv')
summary_table_urti_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_urti/summary_table_urti_no_abs_incdt.csv')
summary_table_urti_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_urti/summary_table_urti_abs_incdt.csv')
summary_table_urti_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_urti/summary_table_urti_no_abs_prevl.csv')
summary_table_urti_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_urti/summary_table_urti_abs_prevl.csv')
summary_table_cough_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_cough/summary_table_cough_no_abs_incdt.csv')
summary_table_cough_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_cough/summary_table_cough_abs_incdt.csv')
summary_table_cough_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_cough/summary_table_cough_no_abs_prevl.csv')
summary_table_cough_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_cough/summary_table_cough_abs_prevl.csv')
summary_table_cough_cold_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_cough_cold/summary_table_cough_cold_no_abs_incdt.csv')
summary_table_cough_cold_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_cough_cold/summary_table_cough_cold_abs_incdt.csv')
summary_table_cough_cold_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_cough_cold/summary_table_cough_cold_no_abs_prevl.csv')
summary_table_cough_cold_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_cough_cold/summary_table_cough_cold_abs_prevl.csv')
summary_table_throat_no_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_throat/summary_table_throat_no_abs_incdt.csv')
summary_table_throat_abs_incdt = pd.read_csv(f'../output/hospitalisation_prediction_throat/summary_table_throat_abs_incdt.csv')
summary_table_throat_no_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_throat/summary_table_throat_no_abs_prevl.csv')
summary_table_throat_abs_prevl = pd.read_csv(f'../output/hospitalisation_prediction_throat/summary_table_throat_abs_prevl.csv')

In [27]:
def preprocess_urti_comb(data_cough,data_cough_cold,data_throat,data_urti):

    d = {'variable': data_cough['variable'],
         'count': data_cough['count'] + data_cough_cold['count'] + data_throat['count'] + data_urti['count'],
         'mean': data_cough['mean'] + data_cough_cold['mean'] + data_throat['mean'] + data_urti['mean'],
         'std': data_cough['std'] + data_cough_cold['std'] + data_throat['std'] + data_urti['std']
        }

    data_urti_comb = pd.DataFrame(data=d)

    total_cough = data_cough.iloc[data_cough[data_cough['variable']=='sex_female'].index[0],data_cough.columns.get_loc('count')] + data_cough.iloc[data_cough[data_cough['variable']=='sex_male'].index[0],data_cough.columns.get_loc('count')]
    total_cough_cold = data_cough_cold.iloc[data_cough_cold[data_cough_cold['variable']=='sex_female'].index[0],data_cough_cold.columns.get_loc('count')] + data_cough_cold.iloc[data_cough_cold[data_cough_cold['variable']=='sex_male'].index[0],data_cough_cold.columns.get_loc('count')]
    total_throat = data_throat.iloc[data_throat[data_throat['variable']=='sex_female'].index[0],data_throat.columns.get_loc('count')] + data_throat.iloc[data_throat[data_throat['variable']=='sex_male'].index[0],data_throat.columns.get_loc('count')]
    total_urti = data_urti.iloc[data_urti[data_urti['variable']=='sex_female'].index[0],data_urti.columns.get_loc('count')] + data_urti.iloc[data_urti[data_urti['variable']=='sex_male'].index[0],data_urti.columns.get_loc('count')]

    mean_cough = data_cough.iloc[data_cough[data_cough['variable']=='antibacterial_brit'].index[0],data_cough.columns.get_loc('mean')]
    mean_cough_cold = data_cough_cold.iloc[data_cough_cold[data_cough_cold['variable']=='antibacterial_brit'].index[0],data_cough_cold.columns.get_loc('mean')]
    mean_throat = data_throat.iloc[data_throat[data_throat['variable']=='antibacterial_brit'].index[0],data_throat.columns.get_loc('mean')]
    mean_urti = data_urti.iloc[data_urti[data_urti['variable']=='antibacterial_brit'].index[0],data_urti.columns.get_loc('mean')]

    std_cough = data_cough.iloc[data_cough[data_cough['variable']=='antibacterial_brit'].index[0],data_cough.columns.get_loc('std')]
    std_cough_cold = data_cough_cold.iloc[data_cough_cold[data_cough_cold['variable']=='antibacterial_brit'].index[0],data_cough_cold.columns.get_loc('std')]
    std_throat = data_throat.iloc[data_throat[data_throat['variable']=='antibacterial_brit'].index[0],data_throat.columns.get_loc('std')]
    std_urti = data_urti.iloc[data_urti[data_urti['variable']=='antibacterial_brit'].index[0],data_urti.columns.get_loc('std')]

    mean_urti_comb = ((mean_cough*total_cough) + (mean_cough_cold*total_cough_cold) + (mean_throat*total_throat) + (mean_urti*total_urti))/(total_cough + total_cough_cold + total_throat + total_urti)
    std_urti_comb = np.sqrt(((std_cough**2)/mean_cough) + ((std_cough_cold**2)/mean_cough_cold) + ((std_throat**2)/mean_throat) + ((std_urti**2)/mean_urti))

    data_urti_comb.iloc[data_urti_comb[data_urti_comb['variable']=='antibacterial_brit'].index[0], data_urti_comb.columns.get_loc('mean')] = mean_urti_comb
    data_urti_comb.iloc[data_urti_comb[data_urti_comb['variable']=='antibacterial_brit'].index[0], data_urti_comb.columns.get_loc('std')] = std_urti_comb

    return data_urti_comb

In [28]:
#calculating stats info of urti_combined using cough, cold with cough, sore throat, and specific urti 
summary_table_urti_combined_no_abs_incdt = preprocess_urti_comb(summary_table_cough_no_abs_incdt, summary_table_cough_cold_no_abs_incdt, summary_table_throat_no_abs_incdt, summary_table_urti_no_abs_incdt)
summary_table_urti_combined_abs_incdt = preprocess_urti_comb(summary_table_cough_abs_incdt, summary_table_cough_cold_abs_incdt, summary_table_throat_abs_incdt, summary_table_urti_abs_incdt)
summary_table_urti_combined_no_abs_prevl = preprocess_urti_comb(summary_table_cough_no_abs_prevl, summary_table_cough_cold_no_abs_prevl, summary_table_throat_no_abs_prevl, summary_table_urti_no_abs_prevl)
summary_table_urti_combined_abs_prevl = preprocess_urti_comb(summary_table_cough_abs_prevl, summary_table_cough_cold_abs_prevl, summary_table_throat_abs_prevl, summary_table_urti_abs_prevl)

In [29]:
summary_table_urti_no_abs_incdt

                       variable     count      mean       std
0                 age_cat_15_24   19350.0  0.141551  0.348590
1                 age_cat_25_34   19590.0  0.143314  0.350394
2                 age_cat_35_44   19680.0  0.143972  0.351063
3                 age_cat_45_54   20000.0  0.146284  0.353392
4                 age_cat_55_64   19170.0  0.140212  0.347208
5                 age_cat_65_74   19390.0  0.141836  0.348883
6               age_cat_75_more   19525.0  0.142831  0.349902
7                    sex_female   69850.0  0.510947  0.499882
8                      sex_male   66855.0  0.489053  0.499882
9                  CCI_cat_high   14545.0  0.106395  0.308344
10                  CCI_cat_low   48235.0  0.352842  0.477856
11               CCI_cat_medium   28150.0  0.205929  0.404381
12            CCI_cat_very_high   23335.0  0.170708  0.376255
13             CCI_cat_very_low   22435.0  0.164125  0.370390
14               flu_vaccine_no  123225.0  0.901366  0.298171
15              flu_vaccine_yes   13485.0  0.098634  0.298171
16       bmi_cat_healthy_weight   11095.0  0.081174  0.273103
17                bmi_cat_obese   71135.0  0.520346  0.499588
18           bmi_cat_overweight   15390.0  0.112584  0.316085
19          bmi_cat_underweight    4360.0  0.031886  0.175696
20              bmi_cat_unknown   34725.0  0.254010  0.435305
21                  region_east   13605.0  0.099527  0.299369
22         region_east_midlands   13615.0  0.099593  0.299457
23                region_london   27615.0  0.201987  0.401484
24            region_north_east   13610.0  0.099563  0.299418
25            region_north_west   13560.0  0.099198  0.298928
26            region_south_east   13545.0  0.099081  0.298771
27            region_south_west   14000.0  0.102423  0.303205
28         region_west_midlands   13640.0  0.099775  0.299701
29             region_yorkshire   13515.0  0.098854  0.298467
30                 imd_affluent   26100.0  0.190934  0.393039
31                   imd_medium   25925.0  0.189639  0.392017
32               imd_unaffluent   26050.0  0.190546  0.392733
33                  imd_unknown    6750.0  0.049376  0.216652
34            imd_very_affluent   25810.0  0.188783  0.391338
35          imd_very_unaffluent   26075.0  0.190722  0.392872
36              ethnicity_asian   10245.0  0.074941  0.263298
37              ethnicity_other   10490.0  0.076719  0.266146
38            ethnicity_unknown   33950.0  0.248356  0.432061
39              ethnicity_white   82020.0  0.599984  0.489903
40     smoking_status_ex_smoker    9015.0  0.065944  0.248185
41  smoking_status_never_smoked   17625.0  0.128933  0.335127
42        smoking_status_smoker   53125.0  0.388619  0.487438
43       smoking_status_unknown   56940.0  0.416504  0.492981
44                season_autumn   33505.0  0.245094  0.430144
45                season_spring   35885.0  0.262496  0.439992
46                season_summer   34255.0  0.250565  0.433340
47                season_winter   33060.0  0.241846  0.428203
48       period_during_pandemic   34840.0  0.254866  0.435788
49     period_post_2nd_lockdown   63850.0  0.467057  0.498915
50           period_prepandemic   38015.0  0.278076  0.448053
51           antibacterial_brit  169825.0  1.242255  1.423738

In [5]:
# # summary_table_lrti_no_abs_incdt
# # summary_table_urti_combined_no_abs_incdt = summary_table_cough_no_abs_incdt[['variable', 'count']].copy()
# # summary_table_urti_combined_no_abs_incdt = summary_table_urti_combined_no_abs_incdt['count'] + summary_table_cough_cold_no_abs_incdt['count']
# # summary_table_urti_combined_no_abs_incdt

# summary_table_cough_no_abs_incdt['count'].add(summary_table_cough_cold_no_abs_incdt['count'], fill_value=0)

In [6]:
print(summary_table_lrti_abs_incdt['variable'].tolist())

['age_cat_15_24', 'age_cat_25_34', 'age_cat_35_44', 'age_cat_45_54', 'age_cat_55_64', 'age_cat_65_74', 'age_cat_75_more', 'sex_female', 'sex_male', 'CCI_cat_high', 'CCI_cat_low', 'CCI_cat_medium', 'CCI_cat_very_high', 'CCI_cat_very_low', 'flu_vaccine_no', 'flu_vaccine_yes', 'bmi_cat_healthy_weight', 'bmi_cat_obese', 'bmi_cat_overweight', 'bmi_cat_underweight', 'bmi_cat_unknown', 'region_east', 'region_east_midlands', 'region_london', 'region_north_east', 'region_north_west', 'region_south_east', 'region_south_west', 'region_west_midlands', 'region_yorkshire', 'imd_affluent', 'imd_medium', 'imd_unaffluent', 'imd_unknown', 'imd_very_affluent', 'imd_very_unaffluent', 'ethnicity_asian', 'ethnicity_other', 'ethnicity_unknown', 'ethnicity_white', 'smoking_status_ex_smoker', 'smoking_status_never_smoked', 'smoking_status_smoker', 'smoking_status_unknown', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'period_during_pandemic', 'period_post_2nd_lockdown', 'period_prepandemic', 'period_nan', 'antibacterial_brit']

In [23]:
def data_process(data):
    data = data
    # # #replace ab_date with ab_binary in variable column
    # # data.loc[data['variable'].str.contains('_ab_date'), 'variable'] = 'ab_binary'
    # #replace SMs with 5 in data
    # for row in range(0, len(data)):
    #     if data['count'][row] == 'SM':
    #         data['count'][row] = 5
    # #conver counts into int
    # data['count_int'] = data['count'].astype(int)#.astype(str).replace('\.0', '', regex=True).astype(int)
    # #convert means into percentages with two decimals
    # data['mean_perc'] = data['mean']*100
    # data['mean_perc'] = np.round(data['mean_perc'], decimals=2)
    # #custom order of variables to fit tables of the manuscript
    # data['variable'] = pd.Categorical(data['variable'], ['age_cat_15_24', 'age_cat_25_34', 'age_cat_35_44', 'age_cat_45_54', 'age_cat_55_64', 'age_cat_65_74', 'age_cat_75_more', 'sex_female', 'sex_male', 'CCI_cat_high', 'CCI_cat_low', 'CCI_cat_medium', 'CCI_cat_very_high', 'CCI_cat_very_low', 'flu_vaccine_no', 'flu_vaccine_yes', 'bmi_cat_healthy_weight', 'bmi_cat_obese', 'bmi_cat_overweight', 'bmi_cat_underweight', 'bmi_cat_unknown', 'region_east', 'region_east_midlands', 'region_london', 'region_north_east', 'region_north_west', 'region_south_east', 'region_south_west', 'region_west_midlands', 'region_yorkshire', 'imd_affluent', 'imd_medium', 'imd_unaffluent', 'imd_unknown', 'imd_very_affluent', 'imd_very_unaffluent', 'ethnicity_white', 'ethnicity_asian', 'ethnicity_black', 'ethnicity_mixed', 'ethnicity_other', 'ethnicity_unknown', 'smoking_ex_smoker', 'smoking_never_smoked', 'smoking_smoker', 'smoking_unknown', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'period_during_pandemic', 'period_post_2nd_lockdown', 'period_prepandemic', 'antibacterial_brit'])
    # data = data.sort_values('variable')
    # #keep mean values of gp_count and antibacterial_brit
    # data['mean'] = np.round(data['mean'], decimals=2)
    # #reset index to prevent issue in calculating total value
    # data = data.reset_index(drop=True)
    # #calculate total from sex_male and sex_female
    # total = data.iloc[data[data['variable']=='sex_female'].index[0],data.columns.get_loc('count')] + data.iloc[data[data['variable']=='sex_male'].index[0],data.columns.get_loc('count')]
    # #create a new dataframe for the new row and add comma to the total's thousands
    # new_row = pd.DataFrame({'variable':'Total', 'count':'-', 'mean':'-', 'std':'-', 'count_int':'-', 'mean_perc':'-', 'count_mean':total}, index=[0])
    # new_row['count_mean'] = new_row['count_mean'].astype(int)
    # new_row['count_mean'] = new_row['count_mean'].apply(lambda x : "{:,}".format(x))
    # #keep 2 digits of mean_perc
    # data['mean_perc'] = data['mean_perc'].apply(lambda x: "{:.2f}".format(x))
    # #add comma after 3 digits
    # data['count_int'] = data['count_int'].astype(int)
    # data['count_int'] = data['count_int'].apply(lambda x : "{:,}".format(x))
    # #replace SN
    # for row in range(0, len(data)):
    #     if data['count'][row] == 5:
    #         data['count_int'][row] = 'SN'
    #         data['mean_perc'][row] = 'SN'
    # #combine counts and means
    # data['count_mean'] = data['count_int'].astype(str) + ' (' + data['mean_perc'].astype(str) + ')'
    # #append row to the dataframe
    # data = pd.concat([data, new_row])
    # #replace
    # data['std_round'] = pd.to_numeric(data['std'],errors='coerce')
    # data['std_round'] = np.round(data['std_round'], decimals=2)
    # data.iloc[int(data[data['variable']=='antibacterial_brit'].index[0]),int(data.columns.get_loc('count_mean'))] = str(data.iloc[int(data[data['variable']=='antibacterial_brit'].index[0]),int(data.columns.get_loc('mean'))]) + ' (' + str(data.iloc[int(data[data['variable']=='antibacterial_brit'].index[0]),int(data.columns.get_loc('std_round'))]) + ')'

    return data

## 1- process data to make basline table, and save it

In [24]:
data_process(summary_table_urti_combined_no_abs_incdt)

,variable,count,mean,std,count_int,mean_perc
0,age_cat_15_24,77905.0,0.570213,1.398459,77905,57.02
1,age_cat_25_34,77925.0,0.570373,1.398617,77925,57.04
2,age_cat_35_44,78555.0,0.575018,1.403354,78555,57.50
3,age_cat_45_54,78085.0,0.571528,1.399761,78085,57.15
4,age_cat_55_64,78450.0,0.574191,1.402483,78450,57.42
5,age_cat_65_74,77370.0,0.566330,1.394477,77370,56.63
6,age_cat_75_more,78195.0,0.572346,1.400628,78195,57.23
7,sex_female,279025.0,2.042333,1.999556,279025,204.23
8,sex_male,267455.0,1.957667,1.999556,267455,195.77
9,CCI_cat_high,57285.0,0.419296,1.225290,57285,41.93
10,CCI_cat_low,192830.0,1.411475,1.911455,192830,141.15
11,CCI_cat_medium,113170.0,0.828377,1.620897,113170,82.84
12,CCI_cat_very_high,92285.0,0.675516,1.498575,92285,67.55
13,CCI_cat_very_low,90900.0,0.665336,1.489511,90900,66.53
14,flu_vaccine_no,492140.0,3.602258,1.196975,492140,360.23
15,flu_vaccine_yes,54345.0,0.397742,1.196975,54345,39.77
16,bmi_cat_healthy_weight,44475.0,0.325567,1.093719,44475,32.56
17,bmi_cat_obese,283355.0,2.074026,1.998630,283355,207.40
18,bmi_cat_overweight,61405.0,0.449468,1.263272,61405,44.95
19,bmi_cat_underweight,17585.0,0.128696,0.705813,17585,12.87
20,bmi_cat_unknown,139655.0,1.022244,1.744703,139655,102.22
21,region_east,54385.0,0.398071,1.197416,54385,39.81
22,region_east_midlands,53830.0,0.394024,1.191967,53830,39.40
23,region_london,109605.0,0.802232,1.601672,109605,80.22
24,region_north_east,54555.0,0.399327,1.199092,54555,39.93
25,region_north_west,54800.0,0.401133,1.201491,54800,40.11
26,region_south_east,54200.0,0.396720,1.195609,54200,39.67
27,region_south_west,55630.0,0.407183,1.209517,55630,40.72
28,region_west_midlands,54885.0,0.401765,1.202347,54885,40.18
29,region_yorkshire,54585.0,0.399544,1.199379,54585,39.95
30,imd_affluent,103915.0,0.760634,1.569697,103915,76.06
31,imd_medium,103360.0,0.756546,1.566465,103360,75.65
32,imd_unaffluent,104045.0,0.761574,1.570447,104045,76.16
33,imd_unknown,26900.0,0.196885,0.865314,26900,19.69
34,imd_very_affluent,104035.0,0.761464,1.570318,104035,76.15
35,imd_very_unaffluent,104230.0,0.762897,1.571493,104230,76.29
36,ethnicity_asian,40845.0,0.298989,1.051934,40845,29.90
37,ethnicity_other,41120.0,0.300997,1.055141,41120,30.10
38,ethnicity_unknown,136420.0,0.998514,1.731192,136420,99.85
39,ethnicity_white,328090.0,2.401500,1.959284,328090,240.15
40,NaN,35715.0,0.261390,0.988519,35715,26.14
41,NaN,71070.0,0.520191,1.345421,71070,52.02
42,NaN,213340.0,1.561619,1.951362,213340,156.16
43,NaN,226350.0,1.656800,1.970331,226350,165.68
44,season_autumn,133475.0,0.977016,1.718581,133475,97.70
45,season_spring,144165.0,1.055216,1.762779,144165,105.52
46,season_summer,137555.0,1.006829,1.735972,137555,100.68
47,season_winter,131280.0,0.960939,1.708902,131280,96.09
48,period_during_pandemic,138605.0,1.014539,1.740362,138605,101.45
49,period_post_2nd_lockdown,255060.0,1.866936,1.995567,255060,186.69
50,period_prepandemic,152815.0,1.118525,1.795273,152815,111.85
51,antibacterial_brit,676350.0,1.237639,2.553407,676350,123.76

In [8]:
summary_table_lrti_no_abs_incdt = data_process(summary_table_lrti_no_abs_incdt)
summary_table_lrti_abs_incdt = data_process(summary_table_lrti_abs_incdt)
summary_table_lrti_no_abs_prevl = data_process(summary_table_lrti_no_abs_prevl)
summary_table_lrti_abs_prevl = data_process(summary_table_lrti_abs_prevl)
summary_table_urti_combined_no_abs_incdt = data_process(summary_table_urti_combined_no_abs_incdt)
summary_table_urti_combined_abs_incdt = data_process(summary_table_urti_combined_abs_incdt)
summary_table_urti_combined_no_abs_prevl = data_process(summary_table_urti_combined_no_abs_prevl)
summary_table_urti_combined_abs_prevl = data_process(summary_table_urti_combined_abs_prevl)
summary_table_uti_no_abs_incdt = data_process(summary_table_uti_no_abs_incdt)
summary_table_uti_abs_incdt = data_process(summary_table_uti_abs_incdt)
summary_table_uti_no_abs_prevl = data_process(summary_table_uti_no_abs_prevl)
summary_table_uti_abs_prevl = data_process(summary_table_uti_abs_prevl)
summary_table_sinusitis_no_abs_incdt = data_process(summary_table_sinusitis_no_abs_incdt)
summary_table_sinusitis_abs_incdt = data_process(summary_table_sinusitis_abs_incdt)
summary_table_sinusitis_no_abs_prevl = data_process(summary_table_sinusitis_no_abs_prevl)
summary_table_sinusitis_abs_prevl = data_process(summary_table_sinusitis_abs_prevl)
summary_table_ot_externa_no_abs_incdt = data_process(summary_table_ot_externa_no_abs_incdt)
summary_table_ot_externa_abs_incdt = data_process(summary_table_ot_externa_abs_incdt)
summary_table_ot_externa_no_abs_prevl = data_process(summary_table_ot_externa_no_abs_prevl)
summary_table_ot_externa_abs_prevl = data_process(summary_table_ot_externa_abs_prevl)
summary_table_otmedia_no_abs_incdt = data_process(summary_table_otmedia_no_abs_incdt)
summary_table_otmedia_abs_incdt = data_process(summary_table_otmedia_abs_incdt)
summary_table_otmedia_no_abs_prevl = data_process(summary_table_otmedia_no_abs_prevl)
summary_table_otmedia_abs_prevl = data_process(summary_table_otmedia_abs_prevl)
summary_table_urti_no_abs_incdt = data_process(summary_table_urti_no_abs_incdt)
summary_table_urti_abs_incdt = data_process(summary_table_urti_abs_incdt)
summary_table_urti_no_abs_prevl = data_process(summary_table_urti_no_abs_prevl)
summary_table_urti_abs_prevl = data_process(summary_table_urti_abs_prevl)
summary_table_cough_no_abs_incdt = data_process(summary_table_cough_no_abs_incdt)
summary_table_cough_abs_incdt = data_process(summary_table_cough_abs_incdt)
summary_table_cough_no_abs_prevl = data_process(summary_table_cough_no_abs_prevl)
summary_table_cough_abs_prevl = data_process(summary_table_cough_abs_prevl)
summary_table_cough_cold_no_abs_incdt = data_process(summary_table_cough_cold_no_abs_incdt)
summary_table_cough_cold_abs_incdt = data_process(summary_table_cough_cold_abs_incdt)
summary_table_cough_cold_no_abs_prevl = data_process(summary_table_cough_cold_no_abs_prevl)
summary_table_cough_cold_abs_prevl = data_process(summary_table_cough_cold_abs_prevl)
summary_table_throat_no_abs_incdt = data_process(summary_table_throat_no_abs_incdt)
summary_table_throat_abs_incdt = data_process(summary_table_throat_abs_incdt)
summary_table_throat_no_abs_prevl = data_process(summary_table_throat_no_abs_prevl)
summary_table_throat_abs_prevl = data_process(summary_table_throat_abs_prevl)

In [9]:
# summary_table_urti_no_abs_incdt['count_int'].astype(int) #*2

In [11]:
summary_table_urti_no_abs_incdt

,variable,count,mean,std,count_int,mean_perc,count_mean,std_round
0,age_cat_15_24,19350.0,0.14,0.34859,"19,350",14.16,"19,350 (14.16)",0.35
1,age_cat_25_34,19590.0,0.14,0.350394,"19,590",14.33,"19,590 (14.33)",0.35
2,age_cat_35_44,19680.0,0.14,0.351063,"19,680",14.40,"19,680 (14.40)",0.35
3,age_cat_45_54,20000.0,0.15,0.353392,"20,000",14.63,"20,000 (14.63)",0.35
4,age_cat_55_64,19170.0,0.14,0.347208,"19,170",14.02,"19,170 (14.02)",0.35
5,age_cat_65_74,19390.0,0.14,0.348883,"19,390",14.18,"19,390 (14.18)",0.35
6,age_cat_75_more,19525.0,0.14,0.349902,"19,525",14.28,"19,525 (14.28)",0.35
7,sex_female,69850.0,0.51,0.499882,"69,850",51.09,"69,850 (51.09)",0.50
8,sex_male,66855.0,0.49,0.499882,"66,855",48.91,"66,855 (48.91)",0.50
9,CCI_cat_high,14545.0,0.11,0.308344,"14,545",10.64,"14,545 (10.64)",0.31
10,CCI_cat_low,48235.0,0.35,0.477856,"48,235",35.28,"48,235 (35.28)",0.48
11,CCI_cat_medium,28150.0,0.21,0.404381,"28,150",20.59,"28,150 (20.59)",0.40
12,CCI_cat_very_high,23335.0,0.17,0.376255,"23,335",17.07,"23,335 (17.07)",0.38
13,CCI_cat_very_low,22435.0,0.16,0.37039,"22,435",16.41,"22,435 (16.41)",0.37
14,flu_vaccine_no,123225.0,0.9,0.298171,"123,225",90.14,"123,225 (90.14)",0.30
15,flu_vaccine_yes,13485.0,0.1,0.298171,"13,485",9.86,"13,485 (9.86)",0.30
16,bmi_cat_healthy_weight,11095.0,0.08,0.273103,"11,095",8.12,"11,095 (8.12)",0.27
17,bmi_cat_obese,71135.0,0.52,0.499588,"71,135",52.03,"71,135 (52.03)",0.50
18,bmi_cat_overweight,15390.0,0.11,0.316085,"15,390",11.26,"15,390 (11.26)",0.32
19,bmi_cat_underweight,4360.0,0.03,0.175696,"4,360",3.19,"4,360 (3.19)",0.18
20,bmi_cat_unknown,34725.0,0.25,0.435305,"34,725",25.40,"34,725 (25.40)",0.44
21,region_east,13605.0,0.1,0.299369,"13,605",9.95,"13,605 (9.95)",0.30
22,region_east_midlands,13615.0,0.1,0.299457,"13,615",9.96,"13,615 (9.96)",0.30
23,region_london,27615.0,0.2,0.401484,"27,615",20.20,"27,615 (20.20)",0.40
24,region_north_east,13610.0,0.1,0.299418,"13,610",9.96,"13,610 (9.96)",0.30
25,region_north_west,13560.0,0.1,0.298928,"13,560",9.92,"13,560 (9.92)",0.30
26,region_south_east,13545.0,0.1,0.298771,"13,545",9.91,"13,545 (9.91)",0.30
27,region_south_west,14000.0,0.1,0.303205,"14,000",10.24,"14,000 (10.24)",0.30
28,region_west_midlands,13640.0,0.1,0.299701,"13,640",9.98,"13,640 (9.98)",0.30
29,region_yorkshire,13515.0,0.1,0.298467,"13,515",9.89,"13,515 (9.89)",0.30
30,imd_affluent,26100.0,0.19,0.393039,"26,100",19.09,"26,100 (19.09)",0.39
31,imd_medium,25925.0,0.19,0.392017,"25,925",18.96,"25,925 (18.96)",0.39
32,imd_unaffluent,26050.0,0.19,0.392733,"26,050",19.05,"26,050 (19.05)",0.39
33,imd_unknown,6750.0,0.05,0.216652,"6,750",4.94,"6,750 (4.94)",0.22
34,imd_very_affluent,25810.0,0.19,0.391338,"25,810",18.88,"25,810 (18.88)",0.39
35,imd_very_unaffluent,26075.0,0.19,0.392872,"26,075",19.07,"26,075 (19.07)",0.39
36,ethnicity_white,82020.0,0.6,0.489903,"82,020",60.00,"82,020 (60.00)",0.49
37,ethnicity_asian,10245.0,0.07,0.263298,"10,245",7.49,"10,245 (7.49)",0.26
38,ethnicity_other,10490.0,0.08,0.266146,"10,490",7.67,"10,490 (7.67)",0.27
39,ethnicity_unknown,33950.0,0.25,0.432061,"33,950",24.84,"33,950 (24.84)",0.43
40,season_autumn,33505.0,0.25,0.430144,"33,505",24.51,"33,505 (24.51)",0.43
41,season_spring,35885.0,0.26,0.439992,"35,885",26.25,"35,885 (26.25)",0.44
42,season_summer,34255.0,0.25,0.43334,"34,255",25.06,"34,255 (25.06)",0.43
43,season_winter,33060.0,0.24,0.428203,"33,060",24.18,"33,060 (24.18)",0.43
44,period_during_pandemic,34840.0,0.25,0.435788,"34,840",25.49,"34,840 (25.49)",0.44
45,period_post_2nd_lockdown,63850.0,0.47,0.498915,"63,850",46.71,"63,850 (46.71)",0.50
46,period_prepandemic,38015.0,0.28,0.448053,"38,015",27.81,"38,015 (27.81)",0.45
47,antibacterial_brit,169825.0,1.24,1.423738,"169,825",124.23,1.24 (1.42),1.42
48,NaN,9015.0,0.07,0.248185,"9,015",6.59,"9,015 (6.59)",0.25
49,NaN,17625.0,0.13,0.335127,"17,625",12.89,"17,625 (12.89)",0.34
50,NaN,53125.0,0.39,0.487438,"53,125",38.86,"53,125 (38.86)",0.49
51,NaN,56940.0,0.42,0.492981,"56,940",41.65,"56,940 (41.65)",0.49
0,Total,-,-,-,-,-,"136,705",NaN

In [56]:
d = {'variable': summary_table_lrti_no_abs_incdt['variable'],
     
     'lrti_no_abs_incdt': summary_table_lrti_no_abs_incdt['count_mean'],
     'lrti_abs_incdt': summary_table_lrti_abs_incdt['count_mean'],
     'lrti_no_abs_prevl': summary_table_lrti_no_abs_prevl['count_mean'],
     'lrti_abs_prevl': summary_table_lrti_abs_prevl['count_mean'],

    #  'urti_combined_no_abs_incdt': summary_table_urti_combined_no_abs_incdt['count_mean'],
    #  'urti_combined_abs_incdt': summary_table_urti_combined_abs_incdt['count_mean'],
    #  'urti_combined_no_abs_prevl': summary_table_urti_combined_no_abs_prevl['count_mean'],
    #  'urti_combined_abs_prevl': summary_table_urti_combined_abs_prevl['count_mean'],

    # 'uti_no_abs_incdt': summary_table_uti_no_abs_incdt['count_mean'],
    # 'uti_abs_incdt': summary_table_uti_abs_incdt['count_mean'],
    # 'uti_no_abs_prevl': summary_table_uti_no_abs_prevl['count_mean'],
    # 'uti_abs_prevl': summary_table_uti_abs_prevl['count_mean'],

    # 'sinusitis_no_abs_incdt': summary_table_sinusitis_no_abs_incdt['count_mean'],
    # 'sinusitis_abs_incdt': summary_table_sinusitis_abs_incdt['count_mean'],
    # 'sinusitis_no_abs_prevl': summary_table_sinusitis_no_abs_prevl['count_mean'],
    # 'sinusitis_abs_prevl': summary_table_sinusitis_abs_prevl['count_mean'],

    # 'ot_externa_no_abs_incdt': summary_table_ot_externa_no_abs_incdt['count_mean'],
    # 'ot_externa_abs_incdt': summary_table_ot_externa_abs_incdt['count_mean'],
    # 'ot_externa_no_abs_prevl': summary_table_ot_externa_no_abs_prevl['count_mean'],
    # 'ot_externa_abs_prevl': summary_table_ot_externa_abs_prevl['count_mean'],

    # 'otmedia_no_abs_incdt': summary_table_otmedia_no_abs_incdt['count_mean'],
    # 'otmedia_abs_incdt': summary_table_otmedia_abs_incdt['count_mean'],
    # 'otmedia_no_abs_prevl': summary_table_otmedia_no_abs_prevl['count_mean'],
    # 'otmedia_abs_prevl': summary_table_otmedia_abs_prevl['count_mean'],

    # 'urti_no_abs_incdt': summary_table_urti_no_abs_incdt['count_mean'],
    # 'urti_abs_incdt': summary_table_urti_abs_incdt['count_mean'],
    # 'urti_no_abs_prevl': summary_table_urti_no_abs_prevl['count_mean'],
    # 'urti_abs_prevl': summary_table_urti_abs_prevl['count_mean'],

    # 'cough_no_abs_incdt': summary_table_cough_no_abs_incdt['count_mean'],
    # 'cough_abs_incdt': summary_table_cough_abs_incdt['count_mean'],
    # 'cough_no_abs_prevl': summary_table_cough_no_abs_prevl['count_mean'],
    # 'cough_abs_prevl': summary_table_cough_abs_prevl['count_mean'],

    # 'cough_cold_no_abs_incdt': summary_table_cough_cold_no_abs_incdt['count_mean'],
    # 'cough_cold_abs_incdt': summary_table_cough_cold_abs_incdt['count_mean'],
    # 'cough_cold_no_abs_prevl': summary_table_cough_cold_no_abs_prevl['count_mean'],
    # 'cough_cold_abs_prevl': summary_table_cough_cold_abs_prevl['count_mean'],

    # 'throat_no_abs_incdt': summary_table_throat_no_abs_incdt['count_mean'],
    # 'throat_abs_incdt': summary_table_throat_abs_incdt['count_mean'],
    # 'throat_no_abs_prevl': summary_table_throat_no_abs_prevl['count_mean'],
    # 'throat_abs_prevl': summary_table_throat_abs_prevl['count_mean'],
     
    }
data = pd.DataFrame(data=d)

# data.to_csv(f'../output/aggregate_tables/baseline_table_all_infections.csv', index=False)
data

,variable,lrti_no_abs_incdt,lrti_abs_incdt,lrti_no_abs_prevl,lrti_abs_prevl
0,age_cat_15_24,"21,150 (14.20)","2,445 (14.84)","2,415 (14.57)",250 (13.45)
1,age_cat_25_34,"21,090 (14.16)","2,245 (13.61)","2,355 (14.23)",265 (14.15)
2,age_cat_35_44,"21,130 (14.19)","2,420 (14.69)","2,360 (14.25)",270 (14.47)
3,age_cat_45_54,"21,155 (14.21)","2,365 (14.34)","2,325 (14.05)",255 (13.67)
4,age_cat_55_64,"21,435 (14.39)","2,350 (14.24)","2,380 (14.37)",260 (14.04)
5,age_cat_65_74,"21,645 (14.53)","2,400 (14.55)","2,435 (14.71)",295 (15.86)
6,age_cat_75_more,"21,330 (14.32)","2,260 (13.72)","2,290 (13.82)",270 (14.36)
7,sex_female,"75,795 (50.89)","8,305 (50.38)","8,360 (50.48)",960 (51.55)
8,sex_male,"73,135 (49.11)","8,180 (49.62)","8,200 (49.52)",905 (48.45)
9,CCI_cat_high,"15,370 (10.32)","1,700 (10.30)","1,755 (10.60)",190 (10.13)
10,CCI_cat_low,"52,715 (35.40)","5,840 (35.44)","5,870 (35.46)",665 (35.69)
11,CCI_cat_medium,"30,660 (20.59)","3,375 (20.47)","3,435 (20.73)",380 (20.36)
12,CCI_cat_very_high,"25,165 (16.90)","2,865 (17.39)","2,755 (16.64)",320 (17.20)
13,CCI_cat_very_low,"25,020 (16.80)","2,705 (16.40)","2,740 (16.56)",310 (16.61)
14,flu_vaccine_no,"134,505 (90.31)","14,830 (89.98)","15,020 (90.72)","1,680 (90.14)"
15,flu_vaccine_yes,"14,425 (9.69)","1,650 (10.02)","1,535 (9.28)",185 (9.86)
16,bmi_cat_healthy_weight,"12,390 (8.32)","1,330 (8.07)","1,355 (8.20)",160 (8.47)
17,bmi_cat_obese,"77,750 (52.21)","8,645 (52.44)","8,665 (52.34)",960 (51.45)
18,bmi_cat_overweight,"16,435 (11.04)","1,815 (11.00)","1,875 (11.32)",210 (11.20)
19,bmi_cat_underweight,"4,875 (3.27)",515 (3.14),555 (3.35),45 (2.52)
20,bmi_cat_unknown,"37,480 (25.16)","4,180 (25.35)","4,105 (24.80)",490 (26.37)
21,region_east,"15,235 (10.23)","1,695 (10.28)","1,735 (10.49)",185 (10.02)
22,region_east_midlands,"14,585 (9.79)","1,590 (9.65)","1,700 (10.25)",195 (10.56)
23,region_london,"29,695 (19.94)","3,275 (19.87)","3,205 (19.35)",365 (19.51)
24,region_north_east,"15,075 (10.12)","1,725 (10.46)","1,715 (10.36)",190 (10.08)
25,region_north_west,"14,780 (9.92)","1,585 (9.60)","1,590 (9.61)",170 (9.22)
26,region_south_east,"14,910 (10.01)","1,690 (10.26)","1,685 (10.16)",185 (9.86)
27,region_south_west,"14,890 (10.00)","1,665 (10.09)","1,670 (10.07)",185 (9.91)
28,region_west_midlands,"15,120 (10.15)","1,660 (10.06)","1,720 (10.40)",200 (10.61)
29,region_yorkshire,"14,640 (9.83)","1,600 (9.71)","1,540 (9.29)",190 (10.24)
30,imd_affluent,"28,130 (18.89)","3,135 (19.03)","3,095 (18.70)",355 (19.08)
31,imd_medium,"28,550 (19.17)","3,120 (18.93)","3,130 (18.90)",360 (19.40)
32,imd_unaffluent,"28,040 (18.83)","3,135 (19.01)","3,210 (19.38)",360 (19.29)
33,imd_unknown,"7,365 (4.94)",860 (5.21),810 (4.89),85 (4.56)
34,imd_very_affluent,"28,700 (19.27)","3,145 (19.07)","3,185 (19.24)",355 (18.92)
35,imd_very_unaffluent,"28,150 (18.90)","3,090 (18.75)","3,130 (18.89)",350 (18.76)
36,ethnicity_white,"89,450 (60.06)","9,960 (60.42)","10,035 (60.60)","1,065 (57.02)"
37,ethnicity_asian,"11,180 (7.51)","1,230 (7.46)","1,240 (7.48)",160 (8.63)
38,ethnicity_other,"11,300 (7.59)","1,265 (7.68)","1,185 (7.17)",150 (8.04)
39,ethnicity_unknown,"37,000 (24.84)","4,030 (24.45)","4,100 (24.76)",490 (26.31)
40,season_autumn,"33,435 (22.45)","3,820 (23.18)","3,735 (22.57)",420 (22.40)
41,season_spring,"42,270 (28.38)","4,645 (28.19)","4,695 (28.36)",540 (28.99)
42,season_summer,"34,360 (23.07)","3,830 (23.24)","3,885 (23.45)",445 (23.74)
43,season_winter,"38,860 (26.09)","4,185 (25.39)","4,240 (25.62)",465 (24.87)
44,period_during_pandemic,"34,785 (23.36)","3,840 (23.30)","3,785 (22.85)",425 (22.83)
45,period_post_2nd_lockdown,"63,900 (42.91)","7,020 (42.58)","7,130 (43.07)",815 (43.73)
46,period_prepandemic,"38,080 (25.57)","4,260 (25.84)","4,315 (26.05)",465 (24.81)
47,antibacterial_brit,1.24 (1.42),1.23 (1.42),1.22 (1.42),1.24 (1.42)
48,NaN,"9,580 (6.43)",990 (6.00),"1,100 (6.63)",120 (6.43)
49,NaN,"19,430 (13.05)","2,190 (13.27)","2,075 (12.54)",255 (13.61)
50,NaN,"58,325 (39.16)","6,400 (38.83)","6,480 (39.13)",735 (39.34)
51,NaN,"61,595 (41.36)","6,905 (41.90)","6,905 (41.70)",760 (40.62)
52,NaN,"12,165 (8.17)","1,365 (8.27)","1,330 (8.03)",160 (8.63)
0,Total,"148,930","16,485","16,560","1,865"

In [55]:
data[['urti_combined_no_abs_incdt', 'urti_combined_abs_incdt', 'urti_combined_no_abs_prevl', 'urti_combined_abs_prevl']].loc[data['variable'] == 'Total']

KeyError: "None of [Index(['urti_combined_no_abs_incdt', 'urti_combined_abs_incdt',\n       'urti_combined_no_abs_prevl', 'urti_combined_abs_prevl'],\n      dtype='object')] are in the [columns]"

In [ ]:
data[['urti_no_abs_incdt', 'urti_abs_incdt', 'urti_no_abs_prevl', 'urti_abs_prevl']].loc[data['variable'] == 'Total']

In [ ]:
data[['cough_no_abs_incdt', 'cough_abs_incdt', 'cough_no_abs_prevl', 'cough_abs_prevl']].loc[data['variable'] == 'Total']

In [ ]:
data[['cough_cold_no_abs_incdt', 'cough_cold_abs_incdt', 'cough_cold_no_abs_prevl', 'cough_cold_abs_prevl']].loc[data['variable'] == 'Total']

In [ ]:
data[['throat_no_abs_incdt', 'throat_abs_incdt', 'throat_no_abs_prevl', 'throat_abs_prevl']].loc[data['variable'] == 'Total']