# Aggregate Summary of Statistics and Make a Baseline Table

This notebook aggregates summary of statistics of all infection-related hospital admission data and processes them to make an aggregated baseline table.

In [1]:
import pandas as pd
import numpy as np

## 0- functions and read data

In [2]:
summary_table_lrti_incdt = pd.read_csv(f'../output/hospitalisation_prediction_lrti/summary_table_lrti_incdt.csv')
summary_table_lrti_prevl = pd.read_csv(f'../output/hospitalisation_prediction_lrti/summary_table_lrti_prevl.csv')
summary_table_urti_incdt = pd.read_csv(f'../output/hospitalisation_prediction_urti/summary_table_urti_incdt.csv')
summary_table_urti_prevl = pd.read_csv(f'../output/hospitalisation_prediction_urti/summary_table_urti_prevl.csv')
summary_table_uti_incdt = pd.read_csv(f'../output/hospitalisation_prediction_uti/summary_table_uti_incdt.csv')
summary_table_uti_prevl = pd.read_csv(f'../output/hospitalisation_prediction_uti/summary_table_uti_prevl.csv')
summary_table_sinusitis_incdt = pd.read_csv(f'../output/hospitalisation_prediction_sinusitis/summary_table_sinusitis_incdt.csv')
summary_table_sinusitis_prevl = pd.read_csv(f'../output/hospitalisation_prediction_sinusitis/summary_table_sinusitis_prevl.csv')
summary_table_otmedia_incdt = pd.read_csv(f'../output/hospitalisation_prediction_otmedia/summary_table_otmedia_incdt.csv')
summary_table_otmedia_prevl = pd.read_csv(f'../output/hospitalisation_prediction_otmedia/summary_table_otmedia_prevl.csv')
summary_table_ot_externa_incdt = pd.read_csv(f'../output/hospitalisation_prediction_ot_externa/summary_table_ot_externa_incdt.csv')
summary_table_ot_externa_prevl = pd.read_csv(f'../output/hospitalisation_prediction_ot_externa/summary_table_ot_externa_prevl.csv')
summary_table_urti_combined_incdt = pd.read_csv(f'../output/hospitalisation_prediction_urti_combined/summary_table_urti_combined_incdt.csv')
summary_table_urti_combined_prevl = pd.read_csv(f'../output/hospitalisation_prediction_urti_combined/summary_table_urti_combined_prevl.csv')
summary_table_cough_incdt = pd.read_csv(f'../output/hospitalisation_prediction_cough/summary_table_cough_incdt.csv')
summary_table_cough_prevl = pd.read_csv(f'../output/hospitalisation_prediction_cough/summary_table_cough_prevl.csv')
summary_table_cough_cold_incdt = pd.read_csv(f'../output/hospitalisation_prediction_cough_cold/summary_table_cough_cold_incdt.csv')
summary_table_cough_cold_prevl = pd.read_csv(f'../output/hospitalisation_prediction_cough_cold/summary_table_cough_cold_prevl.csv')
summary_table_throat_incdt = pd.read_csv(f'../output/hospitalisation_prediction_throat/summary_table_throat_incdt.csv')
summary_table_throat_prevl = pd.read_csv(f'../output/hospitalisation_prediction_throat/summary_table_throat_prevl.csv')

In [3]:
print(summary_table_throat_prevl['variable'].tolist())

['antibacterial_brit', 'throat_ab_date', 'age_cat_15_24', 'age_cat_25_34', 'age_cat_35_44', 'age_cat_45_54', 'age_cat_55_64', 'age_cat_65_74', 'age_cat_75_more', 'sex_female', 'sex_male', 'CCI_cat_high', 'CCI_cat_low', 'CCI_cat_medium', 'CCI_cat_very_high', 'CCI_cat_very_low', 'flu_vaccine_no', 'flu_vaccine_yes', 'bmi_cat_healthy_weight', 'bmi_cat_obese', 'bmi_cat_overweight', 'bmi_cat_underweight', 'bmi_cat_unknown', 'region_east', 'region_east_midlands', 'region_london', 'region_north_east', 'region_north_west', 'region_south_east', 'region_south_west', 'region_west_midlands', 'region_yorkshire', 'imd_affluent', 'imd_medium', 'imd_unaffluent', 'imd_unknown', 'imd_very_affluent', 'imd_very_unaffluent', 'ethnicity_asian', 'ethnicity_other', 'ethnicity_unknown', 'ethnicity_white', 'smoking_ex_smoker', 'smoking_never_smoked', 'smoking_smoker', 'smoking_unknown', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'period_during_pandemic', 'period_post_2nd_lockdown', 'period_prepandemic']

In [4]:
# summary_table_throat_prevl

In [5]:
def data_process(data):
    #replace ab_date with ab_binary in variable column
    data.loc[data['variable'].str.contains('_ab_date'), 'variable'] = 'ab_binary'
    #replace SMs with 5 in data
    for row in range(0, len(data)):
        if data['count'][row] == 'SM':
            data['count'][row] = 5
    #conver counts into int
    data['count_int'] = data['count'].astype(int)#.astype(str).replace('\.0', '', regex=True).astype(int)
    #convert means into percentages with two decimals
    data['mean_perc'] = data['mean']*100
    data['mean_perc'] = np.round(data['mean_perc'], decimals=2)
    #custom order of variables to fit tables of the manuscript
    data['variable'] = pd.Categorical(data['variable'], ['age_cat_15_24', 'age_cat_25_34', 'age_cat_35_44', 'age_cat_45_54', 'age_cat_55_64', 'age_cat_65_74', 'age_cat_75_more', 'sex_female', 'sex_male', 'CCI_cat_high', 'CCI_cat_low', 'CCI_cat_medium', 'CCI_cat_very_high', 'CCI_cat_very_low', 'flu_vaccine_no', 'flu_vaccine_yes', 'bmi_cat_healthy_weight', 'bmi_cat_obese', 'bmi_cat_overweight', 'bmi_cat_underweight', 'bmi_cat_unknown', 'imd_affluent', 'imd_medium', 'imd_unaffluent', 'imd_unknown', 'imd_very_affluent', 'imd_very_unaffluent', 'ethnicity_asian', 'ethnicity_other', 'ethnicity_unknown', 'ethnicity_white', 'smoking_ex_smoker', 'smoking_never_smoked', 'smoking_smoker', 'smoking_unknown', 'season_autumn', 'season_spring', 'season_summer', 'season_winter', 'region_east', 'region_east_midlands', 'region_london', 'region_north_east', 'region_north_west', 'region_south_east', 'region_south_west', 'region_west_midlands', 'region_yorkshire', 'antibacterial_brit', 'ab_binary', 'period_during_pandemic', 'period_post_2nd_lockdown', 'period_prepandemic'])
    data = data.sort_values('variable')
    #keep mean values of gp_count and antibacterial_brit
    data['mean'] = np.round(data['mean'], decimals=2)
    #reset index to prevent issue in calculating total value
    data = data.reset_index(drop=True)
    #calculate total from sex_male and sex_female
    total = data.iloc[data[data['variable']=='sex_female'].index[0],data.columns.get_loc('count')] + data.iloc[data[data['variable']=='sex_male'].index[0],data.columns.get_loc('count')]
    #create a new dataframe for the new row and add comma to the total's thousands
    new_row = pd.DataFrame({'variable':'Total', 'count':'-', 'mean':'-', 'std':'-', 'count_int':'-', 'mean_perc':'-', 'count_mean':total}, index=[0])
    new_row['count_mean'] = new_row['count_mean'].astype(int)
    new_row['count_mean'] = new_row['count_mean'].apply(lambda x : "{:,}".format(x))
    #keep 2 digits of mean_perc
    data['mean_perc'] = data['mean_perc'].apply(lambda x: "{:.2f}".format(x))
    #add comma after 3 digits
    data['count_int'] = data['count_int'].astype(int)
    data['count_int'] = data['count_int'].apply(lambda x : "{:,}".format(x))
    #replace SN
    for row in range(0, len(data)):
        if data['count'][row] == 5:
            data['count_int'][row] = 'SN'
            data['mean_perc'][row] = 'SN'
    #combine counts and means
    data['count_mean'] = data['count_int'].astype(str) + ' (' + data['mean_perc'].astype(str) + ')'
    #append row to the dataframe
    data = pd.concat([data, new_row])
    #replace
    data['std_round'] = pd.to_numeric(data['std'],errors='coerce')
    data['std_round'] = np.round(data['std_round'], decimals=2)
    data.iloc[int(data[data['variable']=='antibacterial_brit'].index[0]),int(data.columns.get_loc('count_mean'))] = str(data.iloc[int(data[data['variable']=='antibacterial_brit'].index[0]),int(data.columns.get_loc('mean'))]) + ' (' + str(data.iloc[int(data[data['variable']=='antibacterial_brit'].index[0]),int(data.columns.get_loc('std_round'))]) + ')'

    return data

## 1- process data to make basline table, and save it

In [6]:
summary_table_lrti_incdt = data_process(summary_table_lrti_incdt)
summary_table_lrti_prevl = data_process(summary_table_lrti_prevl)
summary_table_urti_incdt = data_process(summary_table_urti_incdt)
summary_table_urti_prevl = data_process(summary_table_urti_prevl)
summary_table_uti_incdt = data_process(summary_table_uti_incdt)
summary_table_uti_prevl = data_process(summary_table_uti_prevl)
summary_table_sinusitis_incdt = data_process(summary_table_sinusitis_incdt)
summary_table_sinusitis_prevl = data_process(summary_table_sinusitis_prevl)
summary_table_otmedia_incdt = data_process(summary_table_otmedia_incdt)
summary_table_otmedia_prevl = data_process(summary_table_otmedia_prevl)
summary_table_ot_externa_incdt = data_process(summary_table_ot_externa_incdt)
summary_table_ot_externa_prevl = data_process(summary_table_ot_externa_prevl)
summary_table_urti_combined_incdt = data_process(summary_table_urti_combined_incdt)
summary_table_urti_combined_prevl = data_process(summary_table_urti_combined_prevl)
summary_table_cough_incdt = data_process(summary_table_cough_incdt)
summary_table_cough_prevl = data_process(summary_table_cough_prevl)
summary_table_cough_cold_incdt = data_process(summary_table_cough_cold_incdt)
summary_table_cough_cold_prevl = data_process(summary_table_cough_cold_prevl)
summary_table_throat_incdt = data_process(summary_table_throat_incdt)
summary_table_throat_prevl = data_process(summary_table_throat_prevl)

In [7]:
summary_table_throat_prevl

,variable,count,mean,std,count_int,mean_perc,count_mean,std_round
0,age_cat_15_24,2485.0,0.14,0.348428,"2,485",14.14,"2,485 (14.14)",0.35
1,age_cat_25_34,2430.0,0.14,0.345235,"2,430",13.83,"2,430 (13.83)",0.35
2,age_cat_35_44,2505.0,0.14,0.349829,"2,505",14.28,"2,505 (14.28)",0.35
3,age_cat_45_54,2480.0,0.14,0.348369,"2,480",14.13,"2,480 (14.13)",0.35
4,age_cat_55_64,2525.0,0.14,0.350815,"2,525",14.37,"2,525 (14.37)",0.35
5,age_cat_65_74,2560.0,0.15,0.35277,"2,560",14.57,"2,560 (14.57)",0.35
6,age_cat_75_more,2580.0,0.15,0.353968,"2,580",14.69,"2,580 (14.69)",0.35
7,sex_female,8955.0,0.51,0.499917,"8,955",50.99,"8,955 (50.99)",0.50
8,sex_male,8610.0,0.49,0.499917,"8,610",49.01,"8,610 (49.01)",0.50
9,CCI_cat_high,1805.0,0.1,0.303604,"1,805",10.27,"1,805 (10.27)",0.30
10,CCI_cat_low,6270.0,0.36,0.479169,"6,270",35.71,"6,270 (35.71)",0.48
11,CCI_cat_medium,3620.0,0.21,0.404451,"3,620",20.60,"3,620 (20.60)",0.40
12,CCI_cat_very_high,3035.0,0.17,0.378148,"3,035",17.29,"3,035 (17.29)",0.38
13,CCI_cat_very_low,2830.0,0.16,0.367779,"2,830",16.13,"2,830 (16.13)",0.37
14,flu_vaccine_no,15800.0,0.9,0.300297,"15,800",89.98,"15,800 (89.98)",0.30
15,flu_vaccine_yes,1760.0,0.1,0.300297,"1,760",10.02,"1,760 (10.02)",0.30
16,bmi_cat_healthy_weight,1405.0,0.08,0.271304,"1,405",8.00,"1,405 (8.00)",0.27
17,bmi_cat_obese,9140.0,0.52,0.499601,"9,140",52.03,"9,140 (52.03)",0.50
18,bmi_cat_overweight,1950.0,0.11,0.314255,"1,950",11.11,"1,950 (11.11)",0.31
19,bmi_cat_underweight,590.0,0.03,0.180043,590,3.35,590 (3.35),0.18
20,bmi_cat_unknown,4480.0,0.26,0.435896,"4,480",25.50,"4,480 (25.50)",0.44
21,imd_affluent,3410.0,0.19,0.395615,"3,410",19.42,"3,410 (19.42)",0.40
22,imd_medium,3300.0,0.19,0.390557,"3,300",18.78,"3,300 (18.78)",0.39
23,imd_unaffluent,3345.0,0.19,0.392726,"3,345",19.05,"3,345 (19.05)",0.39
24,imd_unknown,890.0,0.05,0.219461,890,5.07,890 (5.07),0.22
25,imd_very_affluent,3330.0,0.19,0.391962,"3,330",18.96,"3,330 (18.96)",0.39
26,imd_very_unaffluent,3285.0,0.19,0.390055,"3,285",18.72,"3,285 (18.72)",0.39
27,ethnicity_asian,1345.0,0.08,0.266031,"1,345",7.66,"1,345 (7.66)",0.27
28,ethnicity_other,1335.0,0.08,0.26485,"1,335",7.59,"1,335 (7.59)",0.26
29,ethnicity_unknown,4360.0,0.25,0.431984,"4,360",24.82,"4,360 (24.82)",0.43
30,ethnicity_white,10525.0,0.6,0.490065,"10,525",59.92,"10,525 (59.92)",0.49
31,smoking_ex_smoker,1150.0,0.07,0.247182,"1,150",6.54,"1,150 (6.54)",0.25
32,smoking_never_smoked,2230.0,0.13,0.333022,"2,230",12.70,"2,230 (12.70)",0.33
33,smoking_smoker,6855.0,0.39,0.487864,"6,855",39.04,"6,855 (39.04)",0.49
34,smoking_unknown,7325.0,0.42,0.493102,"7,325",41.72,"7,325 (41.72)",0.49
35,season_autumn,4225.0,0.24,0.42748,"4,225",24.06,"4,225 (24.06)",0.43
36,season_spring,4445.0,0.25,0.434737,"4,445",25.30,"4,445 (25.30)",0.43
37,season_summer,4185.0,0.24,0.42602,"4,185",23.82,"4,185 (23.82)",0.43
38,season_winter,4710.0,0.27,0.443001,"4,710",26.81,"4,710 (26.81)",0.44
39,region_east,1785.0,0.1,0.302333,"1,785",10.18,"1,785 (10.18)",0.30
40,region_east_midlands,1685.0,0.1,0.294447,"1,685",9.59,"1,685 (9.59)",0.29
41,region_london,3575.0,0.2,0.402576,"3,575",20.35,"3,575 (20.35)",0.40
42,region_north_east,1775.0,0.1,0.301431,"1,775",10.11,"1,775 (10.11)",0.30
43,region_north_west,1730.0,0.1,0.297932,"1,730",9.85,"1,730 (9.85)",0.30
44,region_south_east,1695.0,0.1,0.295305,"1,695",9.65,"1,695 (9.65)",0.30
45,region_south_west,1795.0,0.1,0.303081,"1,795",10.23,"1,795 (10.23)",0.30
46,region_west_midlands,1735.0,0.1,0.298469,"1,735",9.88,"1,735 (9.88)",0.30
47,region_yorkshire,1785.0,0.1,0.302258,"1,785",10.17,"1,785 (10.17)",0.30
48,antibacterial_brit,21525.0,1.23,1.412646,"21,525",122.56,1.23 (1.41),1.41
49,ab_binary,1790.0,0.1,0.302483,"1,790",10.19,"1,790 (10.19)",0.30
50,period_during_pandemic,5375.0,0.31,0.460915,"5,375",30.62,"5,375 (30.62)",0.46
51,period_post_2nd_lockdown,7330.0,0.42,0.49315,"7,330",41.74,"7,330 (41.74)",0.49
52,period_prepandemic,4855.0,0.28,0.447226,"4,855",27.64,"4,855 (27.64)",0.45
0,Total,-,-,-,-,-,"17,565",NaN

In [8]:
d = {'variable': summary_table_lrti_incdt['variable'],
     
     'lrti_incdt': summary_table_lrti_incdt['count_mean'],
     'lrti_prevl': summary_table_lrti_prevl['count_mean'],

     'urti_combined_incdt': summary_table_urti_combined_incdt['count_mean'],
     'urti_combined_prevl': summary_table_urti_combined_prevl['count_mean'],
     
     'uti_incdt': summary_table_uti_incdt['count_mean'],
     'uti_prevl': summary_table_uti_prevl['count_mean'],
     
     'sinusitis_incdt': summary_table_sinusitis_incdt['count_mean'],
     'sinusitis_prevl': summary_table_sinusitis_prevl['count_mean'],
     
     'otmedia_incdt': summary_table_otmedia_incdt['count_mean'],
     'otmedia_prevl': summary_table_otmedia_prevl['count_mean'],
     
     'ot_externa_incdt': summary_table_ot_externa_incdt['count_mean'],
     'ot_externa_prevl': summary_table_ot_externa_prevl['count_mean'],   
     
     'urti_incdt': summary_table_urti_incdt['count_mean'],
     'urti_prevl': summary_table_urti_prevl['count_mean'],

     'cough_incdt': summary_table_cough_incdt['count_mean'],
     'cough_prevl': summary_table_cough_prevl['count_mean'],

     'cough_cold_incdt': summary_table_cough_cold_incdt['count_mean'],
     'cough_cold_prevl': summary_table_cough_cold_prevl['count_mean'],

     'throat_incdt': summary_table_throat_incdt['count_mean'],
     'throat_prevl': summary_table_throat_prevl['count_mean'],
    }
data = pd.DataFrame(data=d)

data.to_csv(f'../output/aggregate_tables/baseline_table_all_infections.csv', index=False)
data

,variable,lrti_incdt,lrti_prevl,urti_combined_incdt,urti_combined_prevl,uti_incdt,uti_prevl,sinusitis_incdt,sinusitis_prevl,otmedia_incdt,...,ot_externa_incdt,ot_externa_prevl,urti_incdt,urti_prevl,cough_incdt,cough_prevl,cough_cold_incdt,cough_cold_prevl,throat_incdt,throat_prevl
0,age_cat_15_24,"23,070 (14.28)","2,570 (14.13)","90,745 (14.20)","10,120 (14.20)","23,030 (14.30)","2,560 (14.21)","22,640 (14.13)","2,580 (14.28)","23,095 (14.25)",...,"23,405 (14.58)","2,625 (14.70)","22,635 (14.21)","2,560 (14.22)","22,675 (14.19)","2,530 (14.24)","22,905 (14.26)","2,545 (14.20)","22,530 (14.14)","2,485 (14.14)"
1,age_cat_25_34,"22,880 (14.16)","2,545 (13.98)","92,285 (14.44)","10,265 (14.40)","22,860 (14.20)","2,580 (14.34)","22,845 (14.26)","2,530 (14.01)","23,060 (14.23)",...,"22,640 (14.11)","2,510 (14.06)","23,050 (14.47)","2,610 (14.49)","23,075 (14.44)","2,635 (14.81)","23,230 (14.46)","2,595 (14.47)","22,930 (14.39)","2,430 (13.83)"
2,age_cat_35_44,"23,080 (14.28)","2,525 (13.87)","90,455 (14.15)","10,185 (14.29)","23,275 (14.46)","2,505 (13.92)","22,985 (14.34)","2,700 (14.93)","23,260 (14.35)",...,"22,910 (14.28)","2,530 (14.17)","22,555 (14.16)","2,565 (14.25)","22,560 (14.12)","2,590 (14.57)","22,875 (14.24)","2,525 (14.08)","22,465 (14.10)","2,505 (14.28)"
3,age_cat_45_54,"22,990 (14.23)","2,610 (14.34)","91,475 (14.31)","10,030 (14.07)","23,190 (14.40)","2,610 (14.49)","22,895 (14.29)","2,555 (14.13)","23,280 (14.37)",...,"22,870 (14.25)","2,530 (14.16)","22,790 (14.30)","2,540 (14.10)","22,670 (14.18)","2,495 (14.02)","23,110 (14.38)","2,515 (14.02)","22,905 (14.38)","2,480 (14.13)"
4,age_cat_55_64,"23,495 (14.54)","2,635 (14.49)","91,355 (14.29)","10,210 (14.32)","22,570 (14.02)","2,590 (14.40)","23,150 (14.45)","2,645 (14.64)","23,310 (14.38)",...,"22,925 (14.29)","2,505 (14.03)","22,720 (14.26)","2,575 (14.29)","22,835 (14.29)","2,500 (14.06)","23,015 (14.33)","2,610 (14.57)","22,780 (14.30)","2,525 (14.37)"
5,age_cat_65_74,"23,055 (14.27)","2,680 (14.72)","91,875 (14.37)","10,255 (14.38)","23,175 (14.39)","2,560 (14.21)","23,020 (14.37)","2,505 (13.86)","22,825 (14.09)",...,"22,525 (14.04)","2,555 (14.30)","23,300 (14.62)","2,620 (14.55)","22,865 (14.30)","2,540 (14.29)","22,935 (14.27)","2,535 (14.14)","22,780 (14.30)","2,560 (14.57)"
6,age_cat_75_more,"23,050 (14.26)","2,630 (14.46)","90,940 (14.23)","10,215 (14.33)","22,910 (14.23)","2,600 (14.44)","22,705 (14.17)","2,560 (14.16)","23,220 (14.33)",...,"23,200 (14.46)","2,600 (14.56)","22,265 (13.98)","2,540 (14.10)","23,150 (14.48)","2,490 (14.01)","22,585 (14.06)","2,600 (14.52)","22,940 (14.40)","2,580 (14.69)"
7,sex_female,"82,555 (51.08)","9,135 (50.23)","324,945 (50.84)","36,495 (51.20)","81,890 (50.86)","9,205 (51.13)","81,805 (51.05)","9,275 (51.31)","82,750 (51.06)",...,"81,970 (51.08)","9,140 (51.18)","80,845 (50.74)","9,220 (51.19)","81,920 (51.26)","9,170 (51.56)","81,515 (50.74)","9,155 (51.08)","80,670 (50.63)","8,955 (50.99)"
8,sex_male,"79,060 (48.92)","9,055 (49.77)","314,180 (49.16)","34,785 (48.80)","79,125 (49.14)","8,800 (48.87)","78,430 (48.95)","8,800 (48.69)","79,305 (48.94)",...,"78,505 (48.92)","8,720 (48.82)","78,470 (49.26)","8,790 (48.81)","77,910 (48.74)","8,615 (48.44)","79,140 (49.26)","8,765 (48.92)","78,660 (49.37)","8,610 (49.01)"
9,CCI_cat_high,"16,920 (10.47)","1,875 (10.30)","67,535 (10.57)","7,415 (10.40)","17,010 (10.56)","1,960 (10.88)","16,630 (10.38)","1,855 (10.25)","16,695 (10.30)",...,"16,930 (10.55)","1,870 (10.48)","16,745 (10.51)","1,885 (10.45)","16,695 (10.44)","1,845 (10.38)","17,100 (10.64)","1,880 (10.49)","16,995 (10.67)","1,805 (10.27)"
10,CCI_cat_low,"56,675 (35.07)","6,420 (35.30)","224,385 (35.11)","25,320 (35.53)","56,830 (35.30)","6,315 (35.08)","56,475 (35.25)","6,400 (35.41)","57,365 (35.40)",...,"56,360 (35.12)","6,250 (34.99)","55,590 (34.89)","6,355 (35.28)","56,275 (35.21)","6,350 (35.70)","56,580 (35.22)","6,345 (35.42)","55,945 (35.11)","6,270 (35.71)"
11,CCI_cat_medium,"33,825 (20.93)","3,770 (20.71)","133,195 (20.84)","14,675 (20.59)","33,330 (20.70)","3,720 (20.67)","33,205 (20.72)","3,745 (20.72)","33,870 (20.90)",...,"33,445 (20.84)","3,635 (20.36)","33,620 (21.10)","3,760 (20.89)","33,205 (20.78)","3,560 (20.00)","33,350 (20.76)","3,740 (20.86)","33,020 (20.72)","3,620 (20.60)"
12,CCI_cat_very_high,"26,890 (16.64)","3,020 (16.61)","107,795 (16.87)","12,110 (16.99)","26,945 (16.73)","2,965 (16.46)","27,130 (16.93)","3,065 (16.96)","27,235 (16.81)",...,"26,950 (16.79)","3,035 (17.00)","26,750 (16.79)","3,015 (16.74)","26,935 (16.85)","3,035 (17.05)","27,125 (16.88)","3,025 (16.88)","26,985 (16.94)","3,035 (17.29)"
13,CCI_cat_very_low,"27,305 (16.89)","3,105 (17.08)","106,215 (16.62)","11,760 (16.50)","26,900 (16.71)","3,045 (16.91)","26,795 (16.72)","3,010 (16.66)","26,895 (16.59)",...,"26,790 (16.69)","3,070 (17.18)","26,605 (16.70)","2,995 (16.64)","26,720 (16.72)","3,000 (16.86)","26,505 (16.50)","2,930 (16.36)","26,380 (16.56)","2,830 (16.13)"
14,flu_vaccine_no,"145,565 (90.07)","16,405 (90.17)","575,575 (90.06)","64,085 (89.91)","144,905 (90.00)","16,185 (89.90)","144,270 (90.03)","16,245 (89.87)","145,965 (90.07)",...,"144,355 (89.95)","16,085 (90.08)","143,325 (89.96)","16,140 (89.60)","143,915 (90.04)","16,065 (90.32)","144,970 (90.24)","16,080 (89.73)","143,365 (89.98)","15,800 (89.98)"
15,flu_vaccine_yes,"16,050 (9.93)","1,790 (9.83)","63,550 (9.94)","7,195 (10.09)","16,105 (10.00)","1,820 (10.10)","15,970 (9.97)","1,830 (10.13)","16,090 (9.93)",...,"16,120 (10.05)","1,770 (9.92)","15,990 (10.04)","1,875 (10.40)","15,915 (9.96)","1,720 (9.68)","15,685 (9.76)","1,840 (10.27)","15,960 (10.02)","1,760 (10.02)"
16,bmi_cat_healthy_weight,"13,060 (8.08)","1,515 (8.33)","51,755 (8.10)","5,705 (8.00)","13,310 (8.27)","1,525 (8.46)","13,070 (8.16)","1,490 (8.25)","13,525 (8.35)",...,"12,980 (8.09)","1,420 (7.95)","13,050 (8.19)","1,410 (7.82)","12,930 (8.09)","1,425 (8.01)","13,015 (8.10)","1,465 (8.19)","12,765 (8.01)","1,405 (8.00)"
17,bmi_cat_obese,"84,060 (52.01)","9,470 (52.06)","332,225 (51.98)","37,130 (52.09)","83,435 (51.82)","9,355 (51.97)","82,845 (51.70)","9,330 (51.61)","83,845 (51.74)",...,"83,365 (51.95)","9,240 (51.75)","82,515 (51.79)","9,395 (52.17)","82,955 (51.90)","9,260 (52.07)","83,735 (52.12)","9,335 (52.09)","83,020 (52.11)","9,140 (52.03)"
18,bmi_cat_overweight,"17,740 (10.98)","2,070 (11.37)","71,625 (11.21)","7,945 (11.15)","18,055 (11.21)","2,020 (11.23)","18,175 (11.34)","2,095 (11.58)","18,300 (11.29)",...,"17,970 (11.20)","2,070 (11.58)","17,855 (11.21)","2,000 (11.10)","17,970 (11.24)","2,045 (11.51)","17,875 (11.13)","1,950 (10.88)","17,925 (11.25)","1,950 (11.11)"
19,bmi_cat_underweight,"5,070 (3.14)",585 (3.22),"20,560 (3.22)","2,380 (3.34)","5,145 (3.19)",580 (3.23),"5,340 (3.33)",535 (2.97),"5,325 (3.29)",...,"5,070 (3.16)",570 (3.19),"5,060 (3.18)",620 (3.45),"5,290 (3.31)",615 (3.45),"5,285 (3.29)",555 (3.10),"4,925 (3.09)",590 (3.35)
20,bmi_cat_unknown,"41,690 (25.80)","4,555 (25.03)","162,960 (25.50)","18,115 (25.41)","41,070 (25.51)","4,520 (25.11)","40,810 (25.47)","4,625 (25.60)","41,060 (25.34)",...,"41,090 (25.61)","4,560 (25.53)","40,835 (25.63)","4,585 (25.46)","40,685 (25.45)","4,440 (24.96)","40,740 (25.36)","4,610 (25.74)","40,700 (25.54)","4,480 (25.50)"
21,imd_affluent,"30,965 (19.16)","3,460 (19.01)","120,855 (18.91)","13,590 (19.07)","30,250 (18.79)","3,375 (18.76)","30,395 (18.97)","3,425 (18.94)","30,825 (19.02)",...,"30,570 (19.05)","3,350 (18.75)","29,960 (18.81)","3,430 (19.05)","30,290 (18.95)","3,380 (19.01)","30,200 (18.80)","3,365 (18.79)","30,410 (19.09)","3,410 (19.42)"
22,imd_medium,"30,720 (19.01)","3,415 (18.78)","120,995 (18.93)","13,590 (19.07)","30,680 (19.05)","3,440 (19.11)","30,260 (18.89)","3,505 (19.38)","30,765 (18.98)",...,"30,400 (18.94)","3,410 (19.08)","30,375 (19.07)","3,520 (19.55)","29,985 (18.76)","3,365 (18.91)","30,525 (19.00)","3,410 (19.02)","30,115 (18.90)","3,300 (18.78)"
23,imd_unaffluent,"30,810 (19.06)","3,585 (19.71)","121,680 (19.04)","13,500 (18.94)","30,710 (19.07)","3,460 (19.21)","30,610 (19.10)","3,400 (18.80)","31,190 (19.25)",...,"30,850 (19.22)","3,390 (18.99)","30,095 (18.89)","3,370 (18.71)","30,785 (19.26)","3,380 (19.01)","30,450 (18.95)","3,405 (19.00)","30,345 (19.05)","3,345 (19.05)"
24,imd_unknown,"8,125 (5.03)",900 (4.95),"31,640 (4.95)","3,545 (4.97)","8,195 (5.09)",900 (5.00),"7,945 (4.96)",920 (5.08),"7,825 (4.83)",...,"7,950 (4.95)",865 (4.85),"7,830 (4.92)",890 (4.95),"7,950 (4.98)",895 (5.02),"7,935 (4.94)",870 (4.85),"7,920 (4.97)",890 (5.07)
25,imd_very_affluent,"30,340 (18.77)","3,370 (18.52)","122,215 (19.12)","13,565 (19.03)","30,395 (18.88)","3,435 (19.07)","30,625 (19.11)","3,380 (18.70)","31,045 (19.16)",...,"30,045 (18.72)","3,435 (19.22)","30,615 (19.22)","3,455 (19.19)","30,505 (19.09)","3,380 (18.99)","30,970 (19.28)","3,400 (18.98)","30,120 (18.91)","3,330 (18.96)"
26,imd_very_unaffluent,"30,655 (18.97)","3,460 (19.02)","121,740 (19.05)","13,490 (18.92)","30,785 (19.12)","3,395 (18.86)","30,400 (18.97)","3,455 (19.10)","30,405 (18.76)",...,"30,660 (19.11)","3,410 (19.10)","30,435 (19.10)","3,340 (18.54)","30,315 (18.97)","3,390 (19.06)","30,580 (19.04)","3,470 (19.37)","30,410 (19.09)","3,285 (18.72)"
27,ethnicity_asian,"12,015 (7.43)","1,335 (7.33)","48,150 (7.53)","5,400 (7.58)","12,020 (7.47)","1,360 (7.54)","12,120 (7.56)","1,390 (7.69)","12,190 (7.52)",...,"12,075 (7.52)","1,390 (7.79)","11,890 (7.46)","1,320 (7.33)","12,195 (7.63)","1,405 (7.91)","12,025 (7.49)","1,325 (7.41)","12,035 (7.55)","1,345 (7.66)"
28,ethnicity_other,"12,360 (7.65)","1,360 (7.49)","47,995 (7.51)","5,305 (7.45)","12,035 (7.47)","1,300 (7.21)","11,915 (7.44)","1,345 (7.43)","12,435 (7.67)",...,"12,375 (7.71)","1,340 (7.50)","11,965 (7.51)","1,370 (7.60)","11,685 (7.31)","1,285 (7.23)","12,160 (7.57)","1,320 (7.37)","12,190 (7.65)","1,335 (7.59)"
29,ethnicity_unknown,"40,445 (25.03)","4,530 (24.90)","159,345 (24.93)","17,675 (24.79)","40,445 (25.12)","4,495 (24.98)","39,865 (24.88)","4,570 (25.28)","40,105 (24.75)",...,"39,905 (24.87)","4,405 (24.67)","39,455 (24.76)","4,470 (24.82)","39,470 (24.69)","4,410 (24.79)","40,175 (25.01)","4,435 (24.74)","40,250 (25.26)","4,360 (24.82)"
30,ethnicity_white,"96,795 (59.89)","10,965 (60.28)","383,635 (60.02)","42,900 (60.18)","96,510 (59.94)","10,850 (60.27)","96,340 (60.12)","10,775 (59.60)","97,325 (60.06)",...,"96,125 (59.90)","10,720 (60.04)","96,005 (60.26)","10,850 (60.25)","96,485 (60.37)","10,685 (60.06)","96,295 (59.94)","10,840 (60.49)","94,850 (59.53)","10,525 (59.92)"
31,smoking_ex_smoker,"10,350 (6.40)","1,205 (6.63)","41,900 (6.56)","4,800 (6.73)","10,440 (6.48)","1,180 (6.56)","10,395 (6.49)","1,120 (6.19)","10,485 (6.47)",...,"10,280 (6.41)","1,120 (6.26)","10,405 (6.53)","1,235 (6.86)","10,375 (6.49)","1,135 (6.39)","10,540 (6.56)","1,275 (7.13)","10,585 (6.64)","1,150 (6.54)"
32,smoking_never_smoked,"20,910 (12.94)","2,365 (13.01)","82,800 (12.95)","9,110 (12.78)","20,970 (13.03)","2,365 (13.14)","20,600 (12.86)","2,250 (12.44)","20,950 (12.93)",...,"20,965 (13.06)","2,330 (13.05)","20,805 (13.06)","2,320 (12.88)","20,425 (12.78)","2,290 (12.88)","20,750 (12.92)","2,270 (12.66)","20,820 (13.07)","2,230 (12.70)"
33,smoking_smoker,"63,195 (39.10)","7,125 (39.17)","248,075 (38.81)","27,705 (38.87)","62,445 (38.78)","7,020 (39.00)","62,860 (39.23)","7,285 (40.31)","63,355 (39.10)",...,"62,765 (39.11)","7,045 (39.44)","61,630 (38.68)","6,980 (38.77)","62,375 (39.03)","6,900 (38.79)","62,670 (39.01)","6,965 (38.87)","61,400 (38.54)","6,855 (39.04)"
34,smoking_unknown,"67,165 (41.56)","7,495 (41.19)","266,355 (41.67)","29,665 (41.62)","67,155 (41.71)","7,435 (41.30)","66,380 (41.42)","7,420 (41.06)","67,265 (41.51)",...,"66,465 (41.42)","7,365 (41.25)","66,475 (41.72)","7,475 (41.49)","66,660 (41.71)","7,460 (41.94)","66,695 (41.51)","7,410 (41.34)","66,525 (41.76)","7,325 (41.72)"
35,season_autumn,"38,095 (23.57)","4,255 (23.40)","150,495 (23.55)","16,780 (23.54)","37,820 (23.49)","4,190 (23.28)","37,595 (23.46)","4,200 (23.24)","38,225 (23.59)",...,"37,520 (23.38)","4,145 (23.20)","37,565 (23.58)","4,275 (23.73)","37,705 (23.59)","4,105 (23.08)","37,765 (23.51)","4,175 (23.31)","37,455 (23.51)","4,225 (24.06)"
36,season_spring,"40,055 (24.78)","4,520 (24.84)","158,265 (24.76)","17,950 (25.19)","40,155 (24.94)","4,580 (25.43)","39,840 (24.86)","4,505 (24.92)","40,135 (24.77)",...,"39,850 (24.83)","4,530 (25.36)","39,275 (24.65)","4,470 (24.82)","39,500 (24.72)","4,465 (25.11)","39,900 (24.84)","4,570 (25.51)","39,585 (24.84)","4,445 (25.30)"
37,season_summer,"39,290 (24.31)","4,415 (24.28)","155,145 (24.27)","17,445 (24.47)","39,225 (24.36)","4,260 (23.66)","39,105 (24.40)","4,425 (24.47)","39,220 (24.20)",...,"39,100 (24.36)","4,305 (24.12)","38,440 (24.13)","4,405 (24.46)","38,785 (24.27)","4,545 (25.56)","39,065 (24.32)","4,310 (24.05)","38,855 (24.39)","4,185 (23.82)"
38,season_winter,"44,180 (27.34)","5,000 (27.48)","175,225 (27.42)","19,100 (26.80)","43,815 (27.21)","4,975 (27.63)","43,700 (27.27)","4,950 (27.37)","44,480 (27.45)",...,"44,005 (27.42)","4,880 (27.32)","44,030 (27.64)","4,860 (26.99)","43,840 (27.43)","4,670 (26.25)","43,920 (27.34)","4,860 (27.13)","43,430 (27.26)","4,710 (26.81)"
39,region_east,"16,370 (10.13)","1,895 (10.43)","63,430 (9.92)","7,175 (10.07)","16,050 (9.97)","1,845 (10.24)","16,040 (10.01)","1,830 (10.11)","16,025 (9.89)",...,"16,045 (10.00)","1,805 (10.12)","16,110 (10.11)","1,825 (10.13)","16,100 (10.07)","1,815 (10.21)","15,685 (9.76)","1,750 (9.77)","15,535 (9.75)","1,785 (10.18)"
40,region_east_midlands,"16,150 (9.99)","1,845 (10.13)","63,740 (9.97)","7,015 (9.84)","16,415 (10.20)","1,780 (9.90)","15,820 (9.87)","1,830 (10.12)","16,350 (10.09)",...,"15,820 (9.86)","1,770 (9.92)","15,720 (9.87)","1,760 (9.77)","15,785 (9.88)","1,765 (9.92)","16,130 (10.04)","1,805 (10.08)","16,100 (10.11)","1,685 (9.59)"
41,region_london,"31,950 (19.77)","3,575 (19.65)","127,890 (20.01)","14,445 (20.27)","32,145 (19.96)","3,565 (19.81)","31,760 (19.82)","3,625 (20.04)","32,380 (19.98)",...,"32,335 (20.15)","3,630 (20.33)","31,680 (19.89)","3,600 (19.99)","31,920 (19.97)","3,595 (20.21)","32,235 (20.07)","3,675 (20.51)","32,050 (20.12)","3,575 (20.35)"
42,region_north_east,"16,190 (10.02)","1,775 (9.75)","64,450 (10.08)","7,115 (9.98)","15,995 (9.93)","1,855 (10.29)","16,215 (10.12)","1,840 (10.18)","16,375 (10.10)",...,"16,295 (10.15)","1,735 (9.71)","15,890 (9.97)","1,810 (10.04)","16,095 (10.07)","1,735 (9.75)","16,360 (10.18)","1,795 (10.02)","16,105 (10.11)","1,775 (10.11)"
43,region_north_west,"16,530 (10.23)","1,815 (9.97)","63,835 (9.99)","6,945 (9.75)","15,955 (9.91)","1,835 (10.18)","16,225 (10.12)","1,840 (10.18)","16,160 (9.97)",...,"15,865 (9.89)","1,725 (9.67)","15,970 (10.02)","1,765 (9.81)","16,030 (10.03)","1,715 (9.64)","15,770 (9.82)","1,740 (9.70)","16,065 (10.08)","1,730 (9.85)"
44,region_south_east,"16,095 (9.96)","1,815 (9.99)","63,990 (10.01)","7,210 (10.12)","15,850 (9.84)","1,770 (9.84)","16,240 (10.13)","1,805 (9.98)","16,485 (10.17)",...,"15,950 (9.94)","1,850 (10.36)","16,160 (10.14)","1,830 (10.15)","15,870 (9.93)","1,845 (10.37)","16,140 (10.05)","1,845 (10.28)","15,820 (9.93)","1,695 (9.65)"
45,region_south_west,"16,080 (9.95)","1,800 (9.88)","63,255 (9.90)","7,235 (10.15)","16,415 (10.20)","1,750 (9.73)","15,965 (9.96)","1,710 (9.46)","16,130 (9.95)",...,"16,175 (10.08)","1,825 (10.21)","15,680 (9.84)","1,850 (10.27)","15,860 (9.92)","1,795 (10.10)","16,055 (9.99)","1,795 (10.01)","15,660 (9.83)","1,795 (10.23)"
46,region_west_midlands,"16,310 (10.09)","1,835 (10.08)","64,640 (10.11)","7,075 (9.93)","16,200 (10.06)","1,765 (9.80)","16,005 (9.99)","1,825 (10.11)","16,140 (9.96)",...,"16,110 (10.04)","1,785 (10.00)","16,115 (10.12)","1,780 (9.88)","16,075 (10.06)","1,825 (10.27)","16,390 (10.20)","1,735 (9.68)","16,055 (10.08)","1,735 (9.88)"
47,region_yorkshire,"15,945 (9.87)","1,840 (10.12)","63,905 (10.00)","7,060 (9.90)","15,985 (9.93)","1,840 (10.21)","15,975 (9.97)","1,775 (9.81)","16,005 (9.88)",...,"15,890 (9.90)","1,730 (9.68)","15,990 (10.04)","1,795 (9.97)","16,095 (10.07)","1,695 (9.53)","15,885 (9.89)","1,785 (9.95)","15,935 (10.00)","1,785 (10.17)"
48,antibacterial_brit,1.24 (1.42),1.25 (1.43),1.24 (1.42),1.23 (1.42),1.24 (1.42),1.23 (1.42),1.24 (1.42),1.24 (1.42),1.23 (1.42),...,1.24 (1.42),1.24 (1.43),1.24 (1.42),1.25 (1.43),1.24 (1.43),1.23 (1.41),1.24 (1.43),1.22 (1.41),1.24 (1.42),1.23 (1.41)
49,ab_binary,"16,095 (9.96)","1,765 (9.71)","64,085 (10.03)","7,215 (10.12)","15,940 (9.90)","1,790 (9.94)","16,090 (10.04)","1,770 (9.80)","16,120 (9.95)",...,"15,940 (9.93)","1,890 (10.58)","16,045 (10.07)","1,830 (10.17)","16,165 (10.11)","1,770 (9.96)","15,955 (9.93)","1,820 (10.17)","15,920 (9.99)","1,790 (10.19)"
50,period_during_pandemic,"50,545 (31.27)","5,700 (31.32)","199,135 (31.16)","21,900 (30.72)","50,215 (31.19)","5,600 (31.09)","49,915 (31.15)","5,680 (31.43)","50,030 (30.87)",...,"50,005 (31.16)","5,595 (31.32)","49,565 (31.11)","5,545 (30.78)","49,885 (31.21)","5,430 (30.52)","50,025 (31.14)","5,550 (30.98)","49,660 (31.17)","5,375 (30.62)"
51,period_post_2nd_lockdown,"67,300 (41.64)","7,505 (41.27)","267,565 (41.86)","29,815 (41.83)","67,385 (41.85)","7,535 (41.86)","66,845 (41.71)","7,465 (41.29)","68,135 (42.04)",...,"67,055 (41.78)","7,465 (41.80)","66,835 (41.95)","7,505 (41.68)","66,855 (41.83)","7,470 (41.99)","67,185 (41.82)","7,510 (41.90)","66,690 (41.86)","7,330 (41.74)"
52,period_prepandemic,"43,770 (27.08)","4,985 (27.41)","172,425 (26.98)","19,565 (27.45)","43,415 (26.96)","4,870 (27.04)","43,480 (27.14)","4,930 (27.28)","43,890 (27.08)",...,"43,415 (27.05)","4,800 (26.87)","42,910 (26.94)","4,960 (27.54)","43,090 (26.96)","4,890 (27.49)","43,450 (27.04)","4,860 (27.12)","42,975 (26.97)","4,855 (27.64)"
0,Total,"161,615","18,190","639,125","71,280","161,015","18,005","160,235","18,075","162,055",...,"160,475","17,860","159,315","18,010","159,830","17,785","160,655","17,920","159,330","17,565"