# Analysis of Antibiotics Prescription and Hospitalisation Risk

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import numpy as np
import os
import glob
import gzip
%matplotlib inline

In [2]:
#os.chdir("..")
#current_working_dir = os.getcwd()
#print(current_working_dir)
#data = pd.read_csv(r'output/measures/measure_STARPU_antibiotics.csv')
#data

In [3]:
#data = pd.read_csv("C:/Users/m84300af/OneDrive - The University of Manchester/Documents/GitHub/amr-uom-brit/output/measures/input_2019-01-01.csv.gz")
#data

In [5]:
os.chdir("..")
current_working_dir = os.getcwd()
print(current_working_dir)

c:\Users\m84300af\OneDrive - The University of Manchester\Documents\GitHub\amr-uom-brit

In [7]:
#data = pd.read_csv(r'output/measures/input_2019-01-01.csv.gz', compression='gzip')
data = pd.read_csv(r'output/measures/measure_antibiotics_overall_2019-01-01.csv')
data.head(n=5)

   practice sex  antibacterial_prescriptions  population     value
0        10   F                          3.0         1.0  3.000000
1        10   M                          NaN         NaN       NaN
2        11   F                          0.0         2.0  0.000000
3        11   M                          NaN         NaN       NaN
4        12   F                          2.0         3.0  0.666667

In [6]:
#read csv.gz files and concatenate them
#path2 = os.getcwd()+'\output\measures'
##path1 = r'C:\Users\m84300af\OneDrive - The University of Manchester\Documents\GitHub\amr-uom-brit\output\measures'
##all_files = glob.glob(os.path.join(path1, "*.csv.gz"))
##print(path1)

##data = pd.concat((pd.read_csv(f) for f in all_files))
##data

In [8]:
data.columns

Index(['practice', 'sex', 'antibacterial_prescriptions', 'population',
       'value'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   practice                     60 non-null     int64
 1   sex                          60 non-null     object
 2   antibacterial_prescriptions  56 non-null     float64
 3   population                   56 non-null     float64
 4   value                        56 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.5+ KB

In [10]:
data.describe(include='all')

         practice  sex  antibacterial_prescriptions  population      value
count   60.000000   60                    56.000000   56.000000  56.000000
unique        NaN    2                          NaN         NaN        NaN
top           NaN    F                          NaN         NaN        NaN
freq          NaN   30                          NaN         NaN        NaN
mean    24.500000  NaN                    21.857143   17.857143   1.176853
std      8.728484  NaN                    18.077036   14.242610   0.527660
min     10.000000  NaN                     0.000000    1.000000   0.000000
25%     17.000000  NaN                     4.750000    3.750000   0.982759
50%     24.500000  NaN                    16.000000   14.500000   1.216518
75%     32.000000  NaN                    33.250000   32.000000   1.430682
max     39.000000  NaN                    63.000000   56.000000   3.000000